CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# ignore build directory
build/

# ignore auto generated java source code
src/java/protorecord/src/main/java/protorecord/Protorecord.java
src/java/protorecord/src/main/java/protorecord/Protorecord.java
src/java/protorecord/src/main/java/protorecord/demo/DemoMessages.java

# ignore java buil directory
/src/java/protorecord/target/
/src/java/protorecord/nbproject/
